body, button, input, textarea {
  font-family: 'Avenir';
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 245, 217);
}

li {
  float: left;
  font-size: 16;
}

li a {
  color: #000;
  margin: 20px 30px;
  text-decoration: none;
  display: block;
}

li a:hover {
  /* background-color: rgb(125, 179, 216); */
  font-weight: 500;
  color:rgb(255, 17, 148)
  /* color: white; */
}

button {
  border-style: solid;
  border-color: #c3f8ff;
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
}

button:hover {
  background-color: rgb(172, 249, 255);
}

.navbutton {
  background:none;
  border:none;
  cursor: pointer;
  font-size: 16;
  height: 60px
}

.navbutton:hover {
  background: none;
  font-weight: 500;
  color:rgb(255, 17, 148)
}

.dashboard-toggle {
  background-color:#c3f8ff;
  border-radius: 5px;
  height: 100px;
  display: inline-table;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}

.display-saved, .display-completed {
  margin: 2%;
  width: 96%;
}

/* .prompts {
  background-color: rgb(252, 246, 230);
} */

input {
  margin: 10px 0px;
  height: 30px;
  width: 300px;
  border-style: solid;
  border-color: #e2e1dd;
  background-color: rgb(250, 249, 246);
  border-width: 2px;
  border-radius: 5px;
  padding: 5px
}


.prompt, .dashboard {
  margin: 40px 30px;
}

.prompt {
  text-align: center;
}

.boxidea {
  width: 60%;
  max-height: 260px;
}

.about, .signup, .login {
  background-color: rgb(252, 246, 230);
  height: 100%;
  padding: 40px
}

.signup-page, .login-page {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 310px;
  margin: auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  border-radius: 10px;
  padding: 10px 40px;
  overflow: auto;
}


.column {
  float: left;
}

.left {
  width: 30%;
}

.right {
  width: 65%;
  padding: 0% 2%
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.savedPrompt {
  border-style: solid;
  border-color: rgb(255, 221, 240);
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}

.timer {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.timer-content {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}


